@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
   font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
}

.infobar {
    height: 40px;
    background: #3e3e3e;
    color: white;
    
    font-size: 14px;
    
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px #4c51dd;
}

.infobar > * {
    height: 100%;
}

.social-media > a {
    font-size: 26px;
    color: #c9c9c9;
}

.social-media > a:hover {
    color: #fff;
}

#page {
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px -11px #222222 inset;
}

#header {
  position: relative;
  min-height: 200px;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 5px;
}

#header.header-normal {
    height: 300px;
}

#header.header-minimal {
    height: 100px;
}

#header.header-homepage {
    height: 500px;
}

#header > .header-content {
    position: relative;
    top: 25%;
    padding: 10px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

#header > .header-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    z-index: -1;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-clip: border-box !important;
    background-size: cover !important;
    background-origin: padding-box !important;
}

#header > .header-content > .jumbotron {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-nav {
    min-height: 100px;
    border-radius: 0;
    color:#000;
    margin-top: -10px;
    margin-bottom: 0px;
    background: #ffffff;
    border: none;
}

#main-nav > .container-fluid > .navbar-header  > .navbar-brand {
    height: inherit;
    margin:0;
    padding-top:0;
    padding-bottom:0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 100px;
    font-size: 24px;
}

#main-nav > .container-fluid > .navbar-header > button.navbar-toggle {
    height: 100px;
    margin:0;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#main-nav > .container-fluid > .navbar-header > button.navbar-toggle > .icon-bar {
    background:#000;
}

#main-menu > li > a {
    font-size: 16px;
    line-height: 70px;
    color:black;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#main-menu > li.active > a {
    margin-top: -3px;
    border-top: solid 3px rgba(9, 192, 238, 0.9);
}

#main-menu.navbar-nav li.dropdown > .dropdown-menu {
    font-size: 16px;
    border: none;
    border-top: solid thin #ddd;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom:0;
    overflow:hidden;
}

#main-menu.navbar-nav li.dropdown > .dropdown-menu > .mobile-dropdown-button {  
    display: none;
}

#main-menu.navbar-nav li.dropdown > ul.dropdown-menu > li > a {
    padding: 10px;
    box-shadow: none;
}

#main-menu.navbar-nav li.dropdown > ul.dropdown-menu > li.active > a { 
    color: #000;
    background: #eee;
}

#main-menu.navbar-nav li.dropdown > ul.dropdown-menu > li > a:hover { 
    background: #eaeaea;
}

#main-menu.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100px;
    padding: 20px;
}

.enable-mobile {
    display: none;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-top: solid 3px #4c51dd;
    background: #3e3e3e;
    color: #fff;
    font-size: 14px;
    overflow:hidden;
}

.text-header {
    padding-left: 10px;
    padding-right: 10px;
}

.two-column {
    font-size: 18px;
}

.three-column {
    font-size: 18px;
}

.html-content-block {
    padding: 10px;
    font-size: 16px;
}

div.minecraft-status {
    position: relative;
    margin-top: -5px;
    min-height: 80px;
    padding-left: 5px;
    padding-right: 5px;

    background: #fdfdfd;
    border-bottom: solid thin #ccc;

    box-shadow: inset 0px 2px 4px #999;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
}

div.minecraft-status > div.srv {
    display: inline-block;
    position: relative;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    
    border-left: solid thin #ccc;
    border-right: solid thin #ccc;
    border-bottom: solid thin #ccc;

    width: 20%;
    margin-right: -3px;
    margin-left: -3px;
    margin-bottom: -1px;
}

div.voting-block {
    position: relative;
    max-height: 300px;
    overflow: hidden;

    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    background-repeat: repeat !important;
    background-size: 128px !important;
    border-bottom: solid thin #666;
    border-top: solid thin #666;

    box-shadow: inset -5px 0px 5px #222;
    border-radius: 8px;
}

div.voting-block > img.voting-logo {
    height: 92px;
}

div.voting-block > div.voting-content {
    padding: 20px;
}

nav.news-pagination {
    text-align: center;
}

.thumbnail.tutorial-entry {
    padding: 5px;
    text-align: center;
    border-radius: 2px;

}

.panel-custom {
    border-radius: 0;

    border-top: solid thin #eee;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    padding: none;
}

.panel-custom > .panel-heading {
    border: none;
    border-radius: 2px;
}

.panel-custom > .panel-body {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.pagination > li:first-child > a {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.pagination > li:last-child > a {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.guide-nav > li > * {
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    padding-left: 10px !important;
}

.guide-nav > li > ul.nav {
    margin-top:-15px;
}

article.news-article {
    font-size: 16px;
    padding: 5px;
}

.featured-image {
    max-width: 100%;
    border-radius: 2px;
}

@media screen and (max-width:767px) {
    #main-menu {
        margin-top: 0;
        background: #f4f4f4;
    }
    
    #main-menu > li > a {
        font-size: 16px;
        line-height: 20px;
        color:black;
    }

    ul.nav {
        padding-bottom: 0;
    }

    #main-menu > li.active > a {
        margin-top: 0;
        border-top: none;
    }

    #main-menu.navbar-nav li.dropdown > ul.dropdown-menu {
        position: relative;
    
        display: block;
        width: 100%;
        box-shadow: none;
    }

    .has-children {
        background: #ccc;
        border-top: solid thin #aaa;
    }

    #main-menu.navbar-nav li.dropdown.has-children > .dropdown-menu {
        background: #ddd;
        border-bottom: solid thin #aaa;
        margin-bottom: 10px;
    }

    #main-menu.navbar-nav li.dropdown.has-children > .dropdown-menu > li > a {
            padding-left: 20px;
    }

    #main-menu.navbar-nav li.dropdown > .dropdown-menu > .mobile-dropdown-button {  
        display: inline-block;
    }

    .enable-mobile {
        display: unset;
    }

    #header {
        height: 300px !important;
    }

    div.minecraft-status {
        font-size: 14px;
    }

    div.minecraft-status > div.srv {
        width: 100%;
    }
}
