{#
 # About Entry Page
 #}

{% extends "layouts/_page" %}

{% block content %}
    <div class="content">
        <div class="html-content-block">
            {{ entry.body }}
        </div>
        <hr class="separator"/>
        <h2>Staff list</h2>
        <table class="table administration-table table-striped table-bordered">
            <tr>
                <th>Username</th>
                <th>@Discord</th>
                <th>Rank</th>
            </tr>
            {% for member in craft.categories.group("administrationTeam") %}
                <tr>
                    <td>{{ member.memberName }}</td>
                    <td>{{ member.memberDiscord }}</td>
                    <td>{{ member.memberPosition }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}