{#
 # Player Guide Structure Template
 #}

{% extends  "layouts/_page" %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <nav class="nav nav-stacked">
                    <ul></ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}