{#
 # Single page for the player guide
 #}

{% extends "layouts/_page" %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-md-3">
            </div>
        </div>
    </div>
{% endblock %}