{#
 # 404 template
 #}

{% set title = "404" %}
{% extends "layouts/_basiclayout" %}

{% block content %}
	<div class="content">
		<h1>Uh no, The Page you requested was not found</h1>
		<hr/>
		<p>Try Hitting you head on your keyboard, its bound to get you somewhere (or a headache)</p>
	</div>
{% endblock %}
