{#
 # Generic page template just using the content builder
 #}

{% extends "layouts/_page" %}

{% block content %}
	<div class="content">
		{% for block in entry.contentBuilder %}
			{{ func.buildContent(block) }}
		{% endfor %}
	</div>
{% endblock %}